pyhton\flask\hello-api-world\__pycache\
pyhton/flask/hello-api-world/__pycache/
pyhton\flask\hello-api-world\.venv
pyhton\flask\hello-api-world\__pycache__\main.cpython-314.pyc
pyhton/flask/hello-api-world/__pycache__/main.cpython-314.pyc
pyhton\flask\flaskr\__pycache__
**/__pycache__/